* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f1f6f1;
  padding: 0;
}

/* NAVBAR */
header {
  background: #0b652a;
  padding: 15px;
  margin-bottom: 20px;
}

#backBtn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  background: #084d20;
  border-radius: 20px;
}

#backBtn:hover {
  background: #063a18;
}

#logo {
  height: 40px;
}

/* Titles */
h2 {
  color: #0b652a;
  margin-left: 20px;
  margin-bottom: 20px;
}

#profileIcon {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  opacity: 0.9;
}

#usernameDisplay {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
  color: #333;
}

p {
  margin-top: 5px;
  font-size: 17px;
  color: #555;
}

/* Buttons */
button {
  width: 220px;
  padding: 12px;
  margin: 6px;
  border: none;
  border-radius: 10px;
  background: #333;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #222;
}

.logout {
  background: #c62828;
}

.logout:hover {
  background: #a00;
}
